@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject IConfiguration Configuration
<h1>@_hubConnection.State</h1>

<div class="form-group">
    <label>
        User:
        <input @bind="_userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message:
        <input @bind="_messageInput" size="50" />
    </label>
</div>
<button @onclick="SendAsync" disabled="@(!IsConnected)">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message.Name: @message.Message</li>
    }
</ul>

@code {
    private HubConnection _hubConnection;
    private List<ChatMessage> messages = new List<ChatMessage>();
    private string _userInput;
    private string _messageInput;
    private readonly HttpClient _httpClient = new HttpClient();
    private string _functionsUrl;
    public bool IsConnected => _hubConnection.State == HubConnectionState.Connected;

    protected override async Task OnInitializedAsync()
    {
        _functionsUrl = Configuration["FunctionsApi"];
        _hubConnection = new HubConnectionBuilder()
            .WithUrl($"{_functionsUrl}/api/")
            .Build();
        _hubConnection.On<ChatMessage>("newMessage", (clientMessage) =>
        {
            messages.Add(clientMessage);
            StateHasChanged();
        });
        await _hubConnection.StartAsync();
    }

    async Task SendAsync()
    {
        var msg = new ChatMessage
        {
            Name = _userInput,
            Message = _messageInput
        };
        await _httpClient.PostAsJsonAsync($"{_functionsUrl}/api/messages", msg);
        _messageInput = string.Empty;
        StateHasChanged();
    }

}